[submodule "ERDGenerator"]
	path = ERDGenerator
	url = https://github.com/afarhat22/ERDGenerator.git
[submodule "cis297-winter2024-finalproject-afarhat22"]
	path = cis297-winter2024-finalproject-afarhat22
	url = https://github.com/Charnesky/cis297-winter2024-finalproject-afarhat22.git
[submodule "cis297-winter2024-project3-afarhat22"]
	path = cis297-winter2024-project3-afarhat22
	url = https://github.com/Charnesky/cis297-winter2024-project3-afarhat22.git
[submodule "HospitalDB"]
	path = HospitalDB
	url = https://github.com/Luminous222/HospitalDB.git
